@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(40deg, #6C00A2, #001152); 
  --foreground: #171717;
}

/* @media (prefers-color-scheme: light) {
  :root {
  --background: linear-gradient(40deg, #6C00A2, #001152); 
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: linear-gradient(40deg, #6C00A2, #001152); 
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition-property: opacity, background-color, filter;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.page-transition {
  opacity: 0;
  background-color: black;
  filter: blur(10px);
}
